div.menu_drop {
  display:none;
  width:100%;
  border-color:#FFFF33 #FFFFFF #FFFF33 #FFFF33;
  background-color: #FFFF99;
  position: relative;
z-index : 999;
}  
.menu_drop ul{    
  padding : 0;
  margin : 15px 0 0 0;
}
.menu_drop li{
  padding : 5px;
}
.menu_drop li:hover{
  background-color: #FFFF33;
}
